[Unit]
Description=gitlab-zoekt-webserver
After=network.target

[Service]
Type=simple
User={{ gitlab_zoekt_user }}
ExecStart=/bin/bash {{ gitlab_zoekt_indexer_process_wrapper_path }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target