[Unit]
Description=gitlab-zoekt-webserver
After=network.target

[Service]
Type=simple
User={{ gitlab_zoekt_user }}
ExecStart=/usr/local/bin/zoekt-webserver -index {{ gitlab_zoekt_index_dir }} -rpc
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
