#!/usr/bin/env bash

CMD_ARGS="-index_dir {{ gitlab_zoekt_index_dir }} -listen :{{ gitlab_zoekt_indexer_port }}"

{% if gitlab_url is defined %}
CMD_ARGS="$CMD_ARGS -self_url {{ gitlab_zoekt_indexer_url }} -gitlab_url {{ gitlab_url }} -secret_path {{ gitlab_shell_secret_dest_path }} -search_url {{ gitlab_zoekt_webserver_url }} "
{% endif %}

{{ gitlab_zoekt_indexer_git_dir }}/bin/gitlab-zoekt-indexer $CMD_ARGS
